@use "../../scss/abstracts/" as *;
.sidebar__wrapper__menu {
  margin-bottom: rem(10);

  &__title {
    font-size: rem(13);
    color: var(--text-color-light);
    font-weight: var(--font-bold);
    padding-bottom: rem(5);
  }

  &__list {
    padding: rem(5);

    &__item {
      padding: rem(5);
      @include flex(center, flex-start);
      border-radius: rem(10);
      cursor: pointer;

      &:hover {
        background-color: rgb(240, 240, 255);
      }
      &.active {
        background-color: rgb(228, 228, 250);
      }

      &-icon {
        font-size: rem(19) !important;
        margin-right: rem(10);
      }
    }
  }
}
