@use "../../scss/abstracts/" as *;

.newUser {
  flex: 4;

  &__title {
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 400px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-right: 20px;

      > input {
        height: 20px;
        padding: 18px 15px;
        border: 1px solid gray;
        border-radius: 5px;
        outline: none;

        &:focus {
          box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
          border-color: var(--button-color);
        }
      }

      > label {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: rgb(151, 150, 150);
      }

      &__select {
        height: 40px;
        border-radius: 5px;
        padding: 0 10px;
        &:focus {
          box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
          border-color: var(--button-color);
        }
      }

      &__gender {
        > input {
          margin-top: 15px;
        }

        > label {
          margin: 10px;
          font-size: 18px;
          color: #555;
        }
      }
    }

    &__button {
      width: 200px;
      border: none;
      background-color: rgb(81, 81, 172);
      color: white;
      padding: 7px 10px;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
      letter-spacing: 0.7px;
    }
  }
}
