@use "../../scss/abstracts/" as *;

.chart {
  margin: rem(20);
  padding: rem(20);

  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

  &__title {
    margin-bottom: rem(20);
    font-weight: 700;
  }
}
