@use "../global" as *;
@mixin flex($alignItem: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin mobile {
  @media only screen and (max-width: var(--mobile-width)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: var(--tablet-width)) {
    @content;
  }
}
